# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
__pycache__/
data/
models/
*.pth
*.pdf

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Trained PyTorch model files
*.pt
*.pth
*.ckpt

# Environment / secrets
.env
*.env

# Python version files
.python-version